
@import 'normalize'
@import 'colors'
@import 'layout'
@import 'form'

// Components
@import 'components/Button'

// Page-specific styles
// @import 'pages/dark'

primary_color = #3A4350
text_color = #fff
link_color = #007aff
a
    color: text_color
    text-decoration: none;
    
    $:hover
        color:#fff;


b = rgba(255,255,255,.04)
t = rgba(255,255,255,.02)
n = transparent
html
    width: 100%
    height: 100%
    background-color: primary_color

body
    background-image: 
    linear-gradient(0deg,
      n 0%, n 9px,
      b 9px, b 10px, n 10px, n 19px,
      t 19px, t 20px, n 20px, n 29px,
      t 29px, t 30px, n 30px, n 39px,
      t 39px, t 40px, n 40px, n 49px,
      t 49px, t 50px),
    linear-gradient(-90deg,
      n 0%, n 9px,
      b 9px, b 10px, n 10px, n 19px,
      t 19px, t 20px, n 20px, n 29px,
      t 29px, t 30px, n 30px, n 39px,
      t 39px, t 40px, n 40px, n 49px,
      t 49px, t 50px)
    background-size: 50px 50px
    color: text_color
    font-size: 13px
    font-weight: 400

h1
    font-size: 20px
    font-weight: 400
h2
    font-size: 18px
    font-weight: 400
h3
    font-size: 16px
    font-weight: 400

h4
    font-size: 14px
    font-weight: 400



border-radius(val)
  -webkit-border-radius: val
  -moz-border-radius: val
  border-radius: val

figure
     margin: 0   

.header
    background-color: #202833
    margin-bottom: 40px

@import 'nav'


footer
    background-color: #202833

.profile
    display: flex
    padding: 60px 0 69px
    
.profile_avatar
    position: relative
    margin-right: 50px

.utility-flex
    flex: 1;

.figure
    position: relative
    overflow: hidden

.figure
    figcaption
        line-height: 17px
        padding: 4px 0 10px
        text-align: center
.figure
    figcaption a
        color: #D2CACF;
.figure
    figcaption a:hover
        color: white
.artist
    position: absolute
    left: 0
    top: -20px
    padding:2px 12px
    margin: 0 0 0 2px
    font-size: 12px
    -webkit-transition: top 0.6s; /* For Safari 3.1 to 6.0 */
    transition: top 0.6s
    background-color: #4d90fe
    border-radius: 2px

.figure
    a
        display: block

.figure:hover
    .artist
        top: 2px
        display: inline


.image
    text-align:center
    display: flex
    align-items:center
    justify-content:center
    background-color: #333B46